:root {
  --lime: rgb(200, 229, 36); /* #c8e524 */
  --blue: rgb(131, 165, 240); /* #83a5f0 */
  --purple: rgb(153, 85, 235); /* #9955eb */
  /* --bg: #16101b; #fdfef7 */
  --bg: #f5f5dc;
  --textlight: #dbdbdb;
  --text: #141414;
  /* --nav: rgba(66, 61, 112, 0.322); */
  --nav: rgba(166, 226, 110, 0.322);

  --yellow: rgb(237, 183, 77); /* #edb74d */
  --red: rgb(235, 102, 102); /* #eb6666 */
  --green: rgb(111, 177, 138); /* #6fb18a */
}

.container {
  margin-top: 10rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
h1 {
  text-align: center;
  font-weight: lighter;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

#imageLogin {
  object-fit: cover;
  object-position: center;
}

.login-box {
  height: 500px;
  background-color: var(--blue);
  width: 800px;
  border-radius: 2rem;
}

.login-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 2rem;
  /* filter: url(#noiseFilter); */
  opacity: 0.7; /* Only the background becomes transparent */
  z-index: -1;
}
